@import 'variables';

body {
  font-family: "Inter", sans-serif;
  color: $text-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

footer {
  text-align: center;
  padding-bottom: 1rem;
  a {
    margin: .25rem;
    color: $text-color;
    transition: .1s;
    &:hover {
        color: $accent-color;
        text-decoration: none;
      }
  }
}

hr {
  color: rgba(0, 0, 0, 0.2);
  border-style: solid;
}

a {
    color: $accent-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

code {
  font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
  font-display: auto;
  font-feature-settings: normal;
  background: $background-color;
  padding: 1px 6px;
  margin: 0 2px;
  border-radius: 5px;
  font-size: .95rem;
}

pre {
  background: #212020;
  padding: 20px;
  border-radius: 8px;
  font-size: .95rem;
  overflow: auto;

  @media #{$media-size-phone} {
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    background: none !important;
    color: #ccc;
    margin: 0;
    padding: 0;
    font-size: inherit;
  }
}

blockquote {
  border-left: 2px solid;
  margin: 40px;
  padding: 10px 20px;

  background-color: #fff9df;
  color: #747160;

  @media #{$media-size-phone} {
    margin: 10px;
    padding: 10px;
  }

  p {
    font-family: Georgia, serif;
  }
  p:first-of-type {
    margin-top: 0;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
