@import "variables";

section.list, section.content {
  width: 95%;
  max-width: 75ch;
}
.content {
  h1 {
    font-family: "Inter", sans-serif;
  }
}
.content::after {
  border-bottom-color: $accent-color;
  content: "";
  display: block;
  width: 5em;
  border-bottom: 0.125em solid $accent-color;
  margin-top: 2.5em;
}

ul.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  font-family: Inter, sans-serif;

  li {
    flex: 1;
    
    border-width: 1px;
    border-right-width: 0;
    border-color: $accent-color;
    border-style: solid;

    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-right-width: 1px;
    }
    a, span {
      padding: 0.75em;
      display: block;
      width: 100%;
    }
    a {
      // color: $accent-color;
    }
    span {
      color: gray;
    }
    
    &.active {
      a {
        cursor: default;
        &:hover {
          text-decoration: none;
        }
        color: white;
      }
      background-color: $accent-color;
    }
  }
}

.list {
  h4 {
    font-size: 1.5rem;
  }

  p {
    line-height: 1.5rem;
  }

  .read-more {
    text-align: right;
    line-height: 1em;
  }
}
