@import "variables";

section {
  width: 80%;
  max-width: 750px;
}
.content {
  h1 {
    font-family: "Inter", sans-serif;
  }
}
.content::after {
  border-bottom-color: $accent-color;
  content: "";
  display: block;
  width: 5em;
  border-bottom: 0.125em solid $accent-color;
  margin-top: 2.5em;
}

.list {
  width: 80%;
  max-width: 750px;

  tr {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
    .item {
      // border-bottom: 1px grey dashed;
      padding-bottom: 0.5rem;
      &-title {
        font-family: "Inter", sans-serif;
        // font-size: 1.5rem;
        font-size: 1.1rem;
        // margin: 5px 0 5px 0;
        color: $text-color;
        font-weight: 600;
        // font-weight: 600;
      }
      &-date {
        font-family: "Inter", sans-serif;
        flex-shrink: 0;
        // margin-left: 1rem;
        // color: $accent-color;
        @include dimmed;
        // margin-right: 1rem;
        width: 12ch;
        vertical-align: top;
      }
      display: flex;
      justify-content: start;
      align-items: baseline;
      padding: 12px 0;
      text-decoration: none;

      &-description {
        margin-top: 0;
      }
    }
  }
}
