{{ define "main" }}

{{ with .Content }}
<section class="content">
    <div>{{ . }}</div>
</section>
{{ end }}
<section class="list">
    <table>
    {{ range .Pages }}
        <tr class="item">
            <td class="item-date">{{ .Date.Format "Jan 2, 2006" }}</td>
            <td>
                <a href="{{.Permalink}}" class="item-title">{{ .Title }}</a>
                <p class="item-description">{{.Description}}</p>
            </td>
        </tr>
    {{ end }}
    </table>
</section>

{{ end }}
