{{ define "main" }}
    <main class="posts">
        <h1>{{ .Title }}</h1>

        {{- if .Content }}
            <div class="content">{{ .Content }}</div>
        {{- end }}


        <ul class="posts-list">
            {{- range .Pages }}
                <li class="post-item">
                    <div>
                        <a href="{{.Permalink}}" class="post-title">{{.Title}}</a>
                        <span class="post-day">{{ .Date.Format "Jan 2, 2006"}}</span>
                    </div>
                    <p>{{.Summary}}</p>
                </li>
            {{- end }}
        </ul>
      
    </main>
{{ end }}
