{{ define "main" }}
<section class="hero">
  <h1>Davis Haupt</h1>
  <h4></h4>
  <!--<h4>Student @ Penn, Developer ∈ Free Time</h4>-->
  {{ partial "links.html" }}
  <hr />
</section>
<section id="bio">{{ .Content }}</section>
<section id="highlights">
  <!-- <h2>selected blog posts</h2> -->
  <div>
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ $highlightsMD := where $pages "Params.highlight" true }}
    {{ $highlightsOrg := where $pages "Params.highlight" "true" }}
    {{ $highlights := union $highlightsMD $highlightsOrg}}
    {{ $n := len $highlights}}
    {{ $nCol := div $n 2 }}
    <ul>
      {{ range first $nCol $highlights}}
        {{ partial "highlight.html" . }}
      {{ end }}
    </ul>
    <ul>
      {{ range first $nCol (after $nCol $highlights)}}
        {{ partial "highlight.html" . }}
      {{end}}
    </ul>
  </div>
  
</section>
{{ end }}
